# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------- Virtual Environments ----------
.venv/
venv/
env/

# ---------- Environment variables ----------
.env
.env.*
.secrets/

# ---------- Logs ----------
*.log

# ---------- IDE / OS ----------
.DS_Store
.vscode/
.idea/
